.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  .btn {
    width: 100%;
    margin-top: 15px;
  }

  .gameSection {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text {
    color: white;
    -webkit-text-stroke: 1.5px black;
  }

  .imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image {
    margin: 5px;
    width: calc(100% / 4 - 10px);
  }
  
  .image:first-child:last-child {
    width: calc(100% - 10px);
  }
  
  .image:first-child:nth-last-child(2),
  .image:first-child:nth-last-child(2) ~ .image {
    width: calc(50% - 10px);
  }
  
  .image:first-child:nth-last-child(3),
  .image:first-child:nth-last-child(3) ~ .image {
    width: calc(33.33% - 10px);
  }
  
  .image {
    width: calc(25% - 10px); /* Ширина 25% */
  }
}
